/* src/pages/Home.css */

/* En un archivo global o principal */
.main-content {
  background-color: #003366;
  color: white;
  margin-left: 240px; /* Mueve el contenido para que no quede detrás del header */
  padding: 20px;
}

.home-container {
  text-align: center;
  padding-bottom: 40px;
}

.home-container img {
    width: 45%; /* Ajusta el tamaño según lo necesites */
}

.about-container {
  padding-bottom: 40px;
}