/* src/pages/Home.css */

/* En un archivo global o principal */
.main-content {
  font-family: 'Montserrat', 'Roboto', 'Open Sans', sans-serif;
  background-color: #003366;
  color: white;
  margin-left: 240px; /* Mueve el contenido para que no quede detrás del header */
  padding: 20px;
}

.home-container {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 15px;
}

.home-container img {
    width: 40%; /* Ajusta el tamaño según lo necesites */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
}

.about-container {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 420px;
}

.about-container p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 20px;
}

.skill-container {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 60px;
}

.skill-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: disc;
  padding-left: 20px;
}

.skill-container ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.skill-container ul li ul {
  list-style-type: circle; 
  display: block;
}

.skill-container a{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5%;
}

.skill-container a:hover{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
}

.work-container {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 120px;
}

.work-container ul li ul {
  list-style-type: circle; 
  margin: 10px;
}

.work-container ul li ul p{
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 20px;
}

.education-container {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 360px;
}

.education-container ul li ul {
  list-style-type: circle; 
  margin: 10px;
}

.education-container ul li ul li{
  list-style-type: circle; 
  margin: 10px;
}

.add-container {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 185px;
}

.add-container ul li{
  margin: 10px;
}

.contact-container {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 475px;
}

.contact-container ul li{ 
  margin: 10px;
}

.contact-container a{
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    padding-bottom: 65px;
  }
  .home-container img {
    width: 80%; /* Ajusta el tamaño según lo necesites */
  }
  .about-container{
    padding-bottom: 150px;
  }
  .skill-container {
    padding-bottom: 75px;
  }
  .work-container {
    padding-bottom: 75px;
  }
  .education-container {
    padding-bottom: 300px;
  }
  .add-container {
    padding-bottom: 75px;
  }
  .contact-container {
    padding-bottom: 450px;
  }
}

@media (max-width: 768px) { /* Para pantallas de celular */
  .main-content {
    margin-left: 0; /* Mueve el contenido para que no quede detrás del header */
  }
  .home-container {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .home-container img {
    width: 90%; /* Ajusta el tamaño según lo necesites */
  }
  .about-container{
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .skill-container {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .work-container {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .education-container {
    padding-top: 50px;
    padding-bottom: 220px;
  }
  .add-container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .contact-container {
    padding-top: 50px;
    padding-bottom: 415px;
  }
}